In [94]:
import cv2 as cv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import glob
%matplotlib inline

In [113]:
# Getting all paths with images
path1 = glob.glob('DataBase/HAM10000_images_part_1/*')
path2 = glob.glob('DataBase/HAM10000_images_part_2/*')
path3 = glob.glob('ala/*')

In [100]:
# Reading all database and save it in all_data
labels = pd.read_csv('DataBase/HAM10000_metadata.csv')
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lesion_id     10015 non-null  object
 1   image_id      10015 non-null  object
 2   dx            10015 non-null  object
 3   dx_type       10015 non-null  object
 4   age           9958 non-null   float64
 5   sex           10015 non-null  object
 6   localization  10015 non-null  object
dtypes: float64(1), object(6)
memory usage: 547.8+ KB

In [146]:
# Labels visualisation as a DataFrame
labels[:3]

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp

In [101]:
# Setting images size
IMG_WIDTH = 200
IMG_HEIGHT = 200

In [148]:
# Function to read a dataset from 1 part of images
data1 = []

def get_data1():
    for path in path1:
        img = cv.imread(path, cv.IMREAD_GRAYSCALE)
        new_img = cv.resize(img, (IMG_WIDTH,IMG_HEIGHT))
        data1.append(new_img)

In [149]:
get_data1()

In [153]:
data1[2]

array([[182, 186, 185, ..., 176, 172, 172],
       [184, 188, 190, ..., 173, 171, 174],
       [187, 191, 188, ..., 174, 170, 168],
       ...,
       [165, 168, 167, ..., 158, 159, 158],
       [164, 167, 165, ..., 159, 151, 155],
       [161, 160, 163, ..., 153, 158, 151]], dtype=uint8)